<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="../../css/style.css">
	</head>
	<body>
		<div class="main_top">
			<h1 class="main_top_logo"><a href="index.php">Camagru</a></h1>
			<!-- <a href="login.php" class="login">Login</a>
			<a href="register.php" class="register">Register</a> -->
			<a href="app.html" class="camera_icon" title="Try it out!">
				<img src="img_resources/icons/camera_lens_02-1.png" alt="camera_icon_404"
				width="auto" height="90px">
			</a>
		</div>
	</body>
</html>