<html>
	<head>
		<link rel="stylesheet" type= "text/css" href="/Camagru/css/style.css">
	</head>
	<body>
		<div class="main_top">
			<h1 class="main_top_logo"><a href="/Camagru">Camagru</a></h1>
			<a href="/Camagru/app/views/login.php" class="login">Login</a>
			<a href="/Camagru/app/views/register.php" class="register">Register</a>
			<a href="/Camagru/app/views/camera.php" class="camera_icon" title="Try it out!">
				<img src="/Camagru/img_resources/icons/camera_lens_02-1.png" alt="camera_icon_404"
				width="auto" height="90px">
			</a>
		</div>
	</body>
</html>